{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" defer></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero_section.css' %}">

</head>
<body class="body {% block class %}{% endblock %}">
	

 {% include "includes/header.html" %}

 {% if messages %}
 <ul class="messages">
     {% for message in messages %}
         <li class="{{ message.tags }}">
             
             {{ message }}
             <span class="close-btn p-2 text-lg my-auto" onclick="this.parentElement.style.display='none';">&times;</span>
         </li>
     {% endfor %}
 </ul>
{% endif %}



    {% block content %}
    
    {% endblock %}


    
    {% block javascript %}{% endblock %}


{% include 'includes/footer.html' %}
</body>
</html>