{% load static %}

<section class="container bg-[#0B0F29] flex-col md:flex-row flex mx-auto my-16 p-5 md:p-10 lg:p-20">
    <div class="m-auto">
        <h3 class="text-4xl font-semibold  text-white my-5">Download Your Movies Watch Offline.
            Enjoy on Your Mobile</h3>
        <p class=" text-lg text-gray-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
            took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries..</p>
        <button class="px-5 py-3 bg-black text-red-600 mt-10 text-lg">HD 4K</button>
    </div>
    <div class="ml-10">
        <img class="w-full" src="{% static 'images/mobile.png' %}" alt="mobile png">
    </div>
</section>